<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667289559239-09a0jet6at8pkbt2s68kjk8ej9npot3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667289559239-09a0jet6at8pkbt2s68kjk8ej9npot3o</string>
	<key>API_KEY</key>
	<string>AIzaSyCkCsE8xb5F2mwaY9Nv8d9v8R9MtzuprZE</string>
	<key>GCM_SENDER_ID</key>
	<string>667289559239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.AuthenticationExample</string>
	<key>PROJECT_ID</key>
	<string>fir-bootcamp-41a36</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-bootcamp-41a36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667289559239:ios:18635142eb4eeb07941ee2</string>
</dict>
</plist>